.feed {
  margin: 2rem 0;
  & ul {
    display: grid;
    grid-gap: 2rem 1rem;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  & h3 {
    font-size: 1.2em;
    @media (min-width: 768px) {
      font-size: 1.5em;
    }
    margin-bottom: 0.5rem;
    & a {
      font-family: var(--font-pacifico);
      font-weight: 400;
    }
  }
}
